<div class="container">
  <div class="row d-flex justify-content-center d-flex align-items-center">
    <div class="col-lg-6 col-md-8 col-12">
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit()"
        class="rounded-3 border-1 p-5 my-5 shadow"
      >
        <h2 class="text-center mb-4">Registrati</h2>
        <div class="row">
          <div class="col-5">
            <div class="mb-3">
              <label for="firstname" class="form-label">Nome</label>
              <input
                ngModel
                name="firstname"
                type="text"
                class="form-control"
                id="firstname"
                required
              />
            </div>
          </div>
          <div class="col-5">
            <div class="mb-3">
              <label for="lastname" class="form-label">Cognome</label>
              <input
                ngModel
                name="lastname"
                type="text"
                class="form-control"
                id="lastname"
                required
              />
            </div>
          </div>
          <div class="col-2">
            <div class="mb-3">
              <label for="age" class="form-label">Eta</label>
              <input
                ngModel
                name="age"
                type="text"
                class="form-control"
                id="age"
                required
              />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="citta" class="form-label">Città</label>
          <input
            ngModel
            name="citta"
            type="citta"
            class="form-control"
            id="citta"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Indirizzo email</label>
          <input
            ngModel
            name="email"
            type="email"
            class="form-control"
            id="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            ngModel
            name="password"
            type="password"
            class="form-control"
            id="password"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-success mt-3 col-12"
          [disabled]="!f.valid"
        >
          Registrati
        </button>
        <h6 class="text-center mt-4">
          o <a [routerLink]="['/login']">Accedi</a>
        </h6>
      </form>
    </div>
  </div>
</div>
