<div class="container">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="passeggeri" class="form-label">Passeggeri</label>
      <input type="text" class="form-control" id="passeggeri" />
    </div>
    <div class="col-md-6">
      <label for="cambio" class="form-label">Cambio</label>
      <input type="text" class="form-control" id="cambio" />
    </div>
    <div class="col-md-6">
      <label for="alimentazione" class="form-label">Alimentazione</label>
      <input type="text" class="form-control" id="alimentazione" />
    </div>
    <div class="col-md-6">
      <label for="consumo" class="form-label">Consumo/km</label>
      <input type="text" class="form-control" id="consumo" />
    </div>
    <div class="col-md-6">
      <label for="citta" class="form-label">Città</label>
      <input type="text" class="form-control" id="citta" />
    </div>
    <div class="col-md-6">
      <label for="prezzo" class="form-label">Prezzo richiesto</label>
      <input type="text" class="form-control" id="prezzo" />
    </div>
    <div class="col-md-6">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca" />
    </div>
    <div class="col-md-6">
      <label for="modello" class="form-label">Modello</label>
      <input type="text" class="form-control" id="modello" />
    </div>
    <div class="col-md-6">
      <label for="categoria" class="form-label">Categoria</label>
      <input type="text" class="form-control" id="categoria" />
    </div>
    <div class="col-md-6">
      <label for="anno" class="form-label">Anno</label>
      <input type="text" class="form-control" id="anno" />
    </div>
    <div class="col-md-6">
      <label for="immagini" class="form-label">Aggiungi Immagini</label>
      <input
        type="file"
        class="form-control"
        id="immagini"
        accept="image/png, image/jpeg"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Registrati</button>
    </div>
  </form>
</div>
