<div class="container">
  <form class="row g-3 my-5" #newAnnouncement="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca" name="marca" ngModel />
    </div>
    <div class="col-md-6">
      <label for="modello" class="form-label">Modello</label>
      <input
        type="text"
        class="form-control"
        id="modello"
        name="modello"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="porte" class="form-label">Numero di porte</label>
      <input
        type="number"
        class="form-control"
        id="porte"
        name="porte"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="posti" class="form-label">Numero di posti</label>
      <input
        type="number"
        class="form-control"
        id="posti"
        name="posti"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="tipologia" class="form-label">Tipologia di veicolo</label>
      <select
        type="select"
        class="form-control form-select"
        id="tipologia"
        name="tipologia"
        ngModel
        required
      >
        <option selected disabled value="">Seleziona</option>
        <option>Berlina</option>
        <option>Cabrio</option>
        <option>City car</option>
        <option>Coupe</option>
        <option>Furgoni/Van</option>
        <option>Monovolume</option>
        <option>Station wagon</option>
        <option>Suv/Fuoristrada</option>
        <option>Altro</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="colore" class="form-label">Colore</label>
      <input
        type="text"
        class="form-control"
        id="colore"
        name="colore"
        ngModel
      />
    </div>

    <div class="col-md-6">
      <label for="alimentazione" class="form-label">Alimentazione</label>
      <select
        type="text"
        class="form-control form-select"
        id="alimentazione"
        name="alimentazione"
        ngModel
        required
      >
        <option selected disabled value="">Seleziona</option>
        <option>Benzina</option>
        <option>Diesel</option>
        <option>Elettrica</option>
        <option>Elettrica/Benzina</option>
        <option>Elettrica/Diesel</option>
        <option>Etanolo</option>
        <option>Gpl</option>
        <option>Idrogeno</option>
        <option>Metano</option>
        <option>Altro</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="immagini" class="form-label">Aggiungi URL immagine</label>
      <input
        type="text"
        class="form-control"
        id="immagini"
        name="immagini"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="anno" class="form-label">Anno immatricolazione</label>
      <input type="text" class="form-control" id="anno" name="anno" ngModel />
    </div>
    <div class="col-md-6">
      <label for="consumo" class="form-label">Consumo medio KM/L</label>
      <input
        type="text"
        class="form-control"
        id="consumo"
        name="consumo"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="km" class="form-label">Chilometri percorsi</label>
      <input type="text" class="form-control" id="km" name="km" ngModel />
    </div>
    <div class="col-md-6">
      <label for="cv" class="form-label">Cavalli motore</label>
      <input type="text" class="form-control" id="cv" name="cv" ngModel />
    </div>
    <div class="col-md-6">
      <label for="cambio" class="form-label">Cambio</label>
      <input
        type="text"
        class="form-control"
        id="cambio"
        name="cambio"
        ngModel
      />
    </div>

    <div class="col-md-6">
      <label for="citta" class="form-label">Città</label>
      <input type="text" class="form-control" id="citta" name="citta" ngModel />
    </div>
    <div class="col-md-6">
      <label for="prezzo" class="form-label">Prezzo giornaliero</label>
      <input
        type="text"
        class="form-control"
        id="prezzo"
        name="prezzo"
        ngModel
      />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" ngModel />
    </div>
    <div class="col-md-6">
      <label for="telefono" class="form-label">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="telefono"
        name="telefono"
        ngModel
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Pubblica annuncio</button>
    </div>
  </form>
</div>
