<div class="container">
  <form class="row g-3 my-5" #newAnnouncement="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="marca" class="form-label">Marca</label>
      <input
        type="text"
        class="form-control"
        id="marca"
        name="marca"
        ngModel
        required
        #marca="ngModel"
      />
      <div
        *ngIf="marca.invalid && marca.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="modello" class="form-label">Modello</label>
      <input
        type="text"
        class="form-control"
        id="modello"
        name="modello"
        #modello="ngModel"
        ngModel
        required
      />
      <div
        *ngIf="modello.invalid && modello.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="porte" class="form-label">Numero di porte</label>
      <input
        type="number"
        class="form-control"
        id="porte"
        name="porte"
        ngModel
        minlength="1"
        maxlength="1"
        required
        #porte="ngModel"
      />
      <div
        *ngIf="porte.invalid && porte.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="posti" class="form-label">Numero di posti</label>
      <input
        type="number"
        class="form-control"
        id="posti"
        name="posti"
        ngModel
        minlength="1"
        maxlength="2"
        required
        #posti="ngModel"
      />
      <div
        *ngIf="posti.invalid && posti.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="tipologia" class="form-label">Tipologia di veicolo</label>
      <select
        type="select"
        class="form-control form-select"
        id="tipologia"
        name="tipologia"
        ngModel
        required
        #tipologia="ngModel"
      >
        <option selected disabled value="">Seleziona</option>
        <option>Berlina</option>
        <option>Cabrio</option>
        <option>City car</option>
        <option>Coupe</option>
        <option>Furgoni/Van</option>
        <option>Monovolume</option>
        <option>Station wagon</option>
        <option>Suv/Fuoristrada</option>
        <option>Altro</option>
      </select>
      <div
        *ngIf="tipologia.invalid && tipologia.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>

    <div class="col-md-6">
      <label for="colore" class="form-label">Colore</label>
      <input
        type="text"
        class="form-control"
        id="colore"
        name="colore"
        ngModel
      />
    </div>

    <div class="col-md-6">
      <label for="alimentazione" class="form-label">Alimentazione</label>
      <select
        type="text"
        class="form-control form-select"
        id="alimentazione"
        name="alimentazione"
        ngModel
        required
        #alimentazione="ngModel"
      >
        <option selected disabled value="">Seleziona</option>
        <option>Benzina</option>
        <option>Diesel</option>
        <option>Elettrica</option>
        <option>Elettrica/Benzina</option>
        <option>Elettrica/Diesel</option>
        <option>Etanolo</option>
        <option>Gpl</option>
        <option>Idrogeno</option>
        <option>Metano</option>
        <option>Altro</option>
      </select>
      <div
        *ngIf="alimentazione.invalid && alimentazione.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="immagini" class="form-label">Aggiungi immagine</label>
      <input
        type="text"
        class="form-control"
        id="immagini"
        name="immagini"
        ngModel
        required
        #immagini="ngModel"
      />
      <div
        *ngIf="immagini.invalid && immagini.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="mese" class="form-label">Mese immatricolazione</label>
      <select
        type="text"
        class="form-control form-select"
        id="mese"
        name="mese"
        ngModel
        #mese="ngModel"
      >
        <option selected disabled value="">Seleziona</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="anno" class="form-label">Anno immatricolazione</label>
      <input
        type="number"
        class="form-control"
        id="anno"
        name="anno"
        ngModel
        required
        minlength="2"
        maxlength="4"
        #anno="ngModel"
      />
      <div
        *ngIf="anno.invalid && anno.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="consumo" class="form-label">Consumo medio KM/L</label>
      <input
        type="number"
        class="form-control"
        id="consumo"
        name="consumo"
        ngModel
        maxlength="2"
      />
    </div>
    <div class="col-md-6">
      <label for="km" class="form-label">Chilometri percorsi</label>
      <input
        type="number"
        class="form-control"
        id="km"
        name="km"
        ngModel
        maxlength="6"
        required
        #km="ngModel"
      />
      <div
        *ngIf="km.invalid && km.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="cv" class="form-label">Cavalli motore</label>
      <input
        type="number"
        class="form-control"
        id="cv"
        name="cv"
        ngModel
        maxlength="4"
      />
    </div>
    <div class="col-md-6">
      <label for="cv" class="form-label">Cilindrata</label>
      <input
        type="number"
        class="form-control"
        id="cilindrata"
        name="cilindrata"
        ngModel
        maxlength="4"
        minlength="3"
      />
    </div>
    <div class="col-md-6">
      <label for="cambio" class="form-label">Cambio</label>
      <select
        type="text"
        class="form-control form-select"
        id="cambio"
        name="cambio"
        ngModel
        required
        #cambio="ngModel"
      >
        <option selected disabled value="">Seleziona</option>
        <option>Automatico</option>
        <option>Manuale</option>
        <option>Semiautomatico</option>
      </select>
      <div
        *ngIf="cambio.invalid && cambio.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>

    <div class="col-md-6">
      <label for="citta" class="form-label">Città</label>
      <input
        type="text"
        class="form-control"
        id="citta"
        name="citta"
        ngModel
        required
        #citta="ngModel"
      />
      <div
        *ngIf="citta.invalid && citta.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>
    <div class="col-md-6">
      <label for="prezzo" class="form-label">Prezzo giornaliero</label>
      <input
        type="number"
        class="form-control"
        id="prezzo"
        name="prezzo"
        ngModel
        required
        #prezzo="ngModel"
      />
      <div
        *ngIf="prezzo.invalid && prezzo.touched"
        class="alert alert-danger"
        role="alert"
      >
        Devi compilare questo campo!
      </div>
    </div>

    <div class="col-12 mt-5">
      <button
        type="submit"
        class="btn btn-primary col-12"
        [disabled]="newAnnouncement.invalid"
      >
        Pubblica annuncio
      </button>
    </div>
  </form>
</div>
