<app-search-bar
  (searchTextChanged)="onSearchTextEntered($event)"
></app-search-bar>
<div class="container mb-5">
  <h1 class="text-center" *ngIf="this.announcements === undefined">
    ERROR:503 Service Unavailable
  </h1>
  <div class="row">
    <ng-container *ngFor="let item of this.announcements, let i = index">
      <div
        class="col-md-6 col-lg-4 col-12 d-flex align-items-stretch shadow-sm justify-content-center"
        *ngIf="searchText === '' || item.citta.toLowerCase().includes(searchText) || item.citta.toUpperCase().includes(searchText)"
      >
        <div class="card my-3 d-flex w-100">
          <img
            src="{{item.immagini}}"
            class="card-img-top"
            alt="{{item.marca}}{{item.modello}}"
          />
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="card-title">{{item.marca}} {{item.modello}}</h6>
              <a
                href="#"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal-car-details"
                (click)="onDetails(item)"
                ><i class="bi bi-info-circle"></i
              ></a>
            </div>

            <p>
              {{item.porte}} Porte &#8226; {{item.posti}} Posti &#8226;
              {{item.tipologia}}
            </p>

            <p>
              {{item.alimentazione}} &#8226; {{item.consumo}} km/l &#8226;
              {{item.cambio}}
            </p>

            <p>Città: {{item.citta}}</p>
            <p>Prezzo giornaliero: {{item.prezzo}}€</p>

            <div class="col d-flex justify-content-around" id="price-btn">
              <button
                (click)="pay(item)"
                (click)="deleteAnnouncement(item.id)"
                class="btn btn-primary col-12"
              >
                Vai al pagamento
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-dettagli-auto-noleggio
  [dettagliAuto]="carDetails"
></app-dettagli-auto-noleggio>
