<div class="container">
  <app-search-bar
    (searchTextChanged)="onSearchTextEntered($event)"
  ></app-search-bar>
  <div class="row">
    <ng-container *ngFor="let item of this.announcements, let i = index">
      <div
        class="col-md-4 col-lg-4 col-12 d-flex align-items-stretch"
        *ngIf="searchText === '' || item.citta.toLowerCase().includes(searchText)"
      >
        <div class="card my-3">
          <img src="{{item.immagini}}" class="card-img-top" alt="bmw 320d" />
          <div class="card-body">
            <h6 class="card-title">
              {{item.marca}} {{item.modello}} {{item.categoria}}
            </h6>
            <hr />
            <p class="d-flex justify-content-between">
              <span>
                <img
                  src="//images.hertz.com/content/dam/irac/Overlay/icons/person.png"
                />{{ item.passeggeri}}</span
              >
              <span
                ><img
                  src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_suitcase.png"
                />{{item.bagagliaio}}L</span
              >
              <span
                ><img
                  src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_transmission.png"
                />{{item.cambio}}</span
              >
              <span
                ><img
                  src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_fuel.png"
                />{{item.consumokm}}</span
              >
            </p>
            <hr />
            <p>Prezzo: {{item.prezzo}}€</p>
            <p>Città: {{item.citta}}</p>

            <div class="col d-flex justify-content-around">
              <a href="#" class="btn btn-primary">Acquista</a>
              <a
                href="#"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal-car-details"
                (click)="onDetails(item)"
                >Dettagli</a
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-dettagli-auto-noleggio
  [dettagliAuto]="carDetails"
></app-dettagli-auto-noleggio>
