.container-fluid{
  background-image: url(../../../assets/images/pexels-matheus-bertelli-799443.jpg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position-y: -541px;
  background-size: cover;
  width: 100%;
}
