.container-fluid{
  background-image: url(../../../assets/images/banner-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;

}
h1{
   color: white;
padding: 1rem;
}
img {
 width: 100%;
}

