<div class="container-fluid">
  <h1>
    Stanco di pagare <br />la tua auto <br />
    senza neanche utilizzarla? <br />
    Condividila con chi<br />
    potrebbe averne bisogno
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-4 col-12 my-3">
        <div class="card">
          <img
            src="../../../assets/images/login .jpg"
            class="card-img-top"
            alt="immagine scritta login"
          />
          <div class="card-body">
            <p class="card-text">Registrati ed effettua il login</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4 col-12 my-3">
        <div class="card">
          <img
            src="../../../assets/images/immagine per gli annunci .jpg"
            class="card-img-top"
            alt="ragazzo al computer"
          />
          <div class="card-body">
            <p class="card-text">Pubblica o scorri i nostri annunci</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-12 my-3">
        <div class="card">
          <img
            src="../../../assets/images/stretta-mano.jpg"
            class="card-img-top"
            alt="stratta di mano"
          />
          <div class="card-body">
            <p class="card-text">Contatta il proprietario e parti subito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
