<div class="container-fluid">
  <h1>
    Stanco di pagare <br />la tua auto <br />
    senza neanche utilizzarla? <br />
    Condividila con chi<br />
    potrebbe averne bisogno
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img
          src="../../../assets/images/login.jpg"
          class="card-img-top"
          alt="immagine scritta login"
        />
        <div class="card-body">
          <p class="card-text">Registrati ed effettua il login</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img
          src="../../../assets/images/immagine per gli annunci.jpg"
          class="card-img-top"
          alt="ragazzo al computer"
        />
        <div class="card-body">
          <p class="card-text">Pubblica o scorri i nostri annunci</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="../../../assets/images/immagine chiave.jpg"
          class="card-img-top"
          alt="passaggio di chiavi tra due persone"
        />
        <div class="card-body">
          <p class="card-text">Contatta il proprietario e parti subito</p>
        </div>
      </div>
    </div>
  </div>
</div>
