<div class="container">
  <app-search-bar></app-search-bar>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-12">
      <div class="card my-3">
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
          <h6 class="card-title">
            <!-- {{item.marca}} {{item.modello}} {{item.categoria}} -->
          </h6>
          <hr />
          <p class="d-flex justify-content-between">
            <span>
              <img
                src="//images.hertz.com/content/dam/irac/Overlay/icons/person.png"
            /></span>
            <span
              ><img
                src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_suitcase.png"
            /></span>
            <span
              ><img
                src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_transmission.png"
            /></span>
            <span
              ><img
                src="//images.hertz.com/content/dam/irac/Overlay/icons/feature_fuel.png"
            /></span>
          </p>
          <hr />
          <p>Dettagli</p>
          <p>Prezzo:</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
