<div class="container">
  <app-search-bar (searchTextChanged)="onSearchTextEntered($event)">
  </app-search-bar>
  <div class="row">
    <ng-container *ngFor="let item of this.carList, let i = index">
      <div
        class="col-md-6 col-lg-6 col-12"
        *ngIf="searchText === '' || item.citta.toLowerCase().includes(searchText)"
      >
        <div class="card my-3">
          <img
            src="{{item.immagini}}"
            class="card-img-top"
            alt="{{item.marca}}{{item.modello}}"
          />
          <div class="card-body">
            <h6 class="card-title">
              {{item.marca}} {{item.modello}} {{item.versione}}
            </h6>

            <p>
              {{item.cilindrata}} &#8226; {{item.cv}}cv/{{item.kw}}kw &#8226;
              {{item.alimentazione}}
            </p>

            <p>
              {{item.anno}} &#8226; {{item.chilometri}} &#8226; {{item.cambio}}
            </p>

            <p>Città: {{item.citta}}</p>

            <div class="col d-flex justify-content-around">
              <a href="#" class="btn btn-primary">Acquista</a>
              <a
                href="#"
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal-car-sell"
                (click)="onDetails(item)"
                >Dettagli</a
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-dettagli-auto-vendita
  [dettagliAuto]="carDetails"
></app-dettagli-auto-vendita>
