<div class="container-fluid">
  <div class="container py-5">
    <div class="row d-flex justify-content-evenly">
      <div class="col-6 col-md-2">
        <h5
          class="footer-route"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          Accedi
        </h5>
      </div>

      <div class="col-6 col-md-2">
        <h5
          class="footer-route"
          [routerLink]="['/signup']"
          routerLinkActive="router-link-active"
        >
          Registrati
        </h5>
      </div>

      <div class="col-6 col-md-2">
        <h5 class="footer-route" [routerLink]="['/lazy-pages']">Contatti</h5>
      </div>
      <div class="col-6 col-md-2">
        <h5 class="footer-route">
          <i class="bi bi-instagram pe-2"> </i><i class="bi bi-twitter pe-2"></i
          ><i class="bi bi-youtube"></i>
        </h5>
      </div>
    </div>
  </div>

  <footer>
    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top border-secondary"
    >
      <p>© 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
