<div class="container my-5">
  <div class="row bg-secondary d-flex justify-content-around form-control">
    <div class="col-4 p-3">
      <input
        class="form-control p-4"
        type="text"
        aria-label="Search"
        name="searchBar"
        [(ngModel)]="enteredSerchValue"
        (input)="onSearchTextChanged()"
      />
    </div>
    <div class="col-3 p-3">
      <input class="form-control p-4" type="date" id="date" />
    </div>
    <div class="col-3 p-3">
      <input class="form-control p-4" type="date" id="date" />
    </div>
    <div class="col-2 p-3">
      <button type="button" class="btn btn-info p-4 form-control">Cerca</button>
    </div>
  </div>
</div>
